{% extends "base.html" %}


{% block page__title %}
Home Page
{% endblock page__title %}


{% block body %}

 
{% if request.user.is_authenticated %}
        <div class="user__info">
            <h2>Xoş gəlmisiniz</h2>
        </div>
                    
{% endif %}

{% if messages %}
    {% for message in messages %}
        
        {% if message.tags == "warning" %}
            <div class="alert__warning">{{message}}</div>
        {% else %}
            <div class="alert__success">{{message}}</div>
        {% endif %}
            
    {% endfor %}
{% endif %}
    

<h1>Hello World</h1>
<div class="articles">
    <h2>My Articles:</h2>
    <ul>
        {% for article in articles %}
        <li><h3>{{article.author}}</h3>
        <h4>{{article.title}}</h4>
        <p>{{article.content}}</p>
        <small>{{article.created_date}}</small>
    </li> <hr>
        {% endfor %}
    </ul>
</div>
{% endblock body %}



















